<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="taskNameTextField">Task Name</label>
                    <input type="text" class="form-control"
                    id="taskNameTextField"
                    placeholder="Enter the Task Name"
                    name="TaskName" 
                    value="<%= Book.TaskName %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dueDateTextField">Due Date</label>
                    <input type="text" class="form-control"
                    id="dueDateTextField"
                    placeholder="Enter the Task due Date"
                    name="DueDate" 
                    value="<%= Book.DueDate %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="subjectTextField">Subject</label>
                    <input type="text" class="form-control"
                    id="subjectTextField"
                    placeholder="Enter the Subject"
                    name="Subject" 
                    value="<%= Book.Subject %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the a brief description of the task"
                    name="Description" 
                    required>
                    <%= Book.Description %>
                    </textarea>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/bookslist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>