<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>  
            <a href="/bookslist/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add Task</a>      
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">TaskName</th>
                <th class="text-center col-2">DueDate</th>
                <th class="text-center col-1">Subject</th>
                <th class="text-center col-4">Description</th>
            </tr>
            <% for(let count=0;count<BookList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= BookList[count].TaskName %></td>
                <td class="text-center col-2"><%= BookList[count].DueDate %></td>
                <td class="text-center col-1"><%= BookList[count].Subject %></td>
                <td class="text-center col-4"><%= BookList[count].Description %></td>
                <td class="text-center col-1">
                    <a href="/bookslist/edit/<%= BookList[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/bookslist/delete/<%= BookList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>